* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
img {
}
a {
  text-decoration: none;
}
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.wrapper {
  max-width: 100%;
  margin: 0 auto;
}
.display {
  background: url("../img/forestbridge.jpg") no-repeat center center / cover;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  &__top {
    position: absolute;
    top: 0;
    left: 0;
    h3 {
      font-size: 30px;
      font-weight: 600;
      color: #fff;
      padding: 20px;
    }
  }
  &__middlae {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__desc {
    color: #fff;
    font-size: 64px;
    font-weight: 300;
    text-align: center;
  }
  &-animate {
    position: relative;
    animation: animatetop 0.4s;
  }
  &__border {
    color: #fff;
    width: 40%;
    margin: 0 auto;
  }
  &__day {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
  }
  &__footer {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 200;
  }
  &__link {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
    margin-left: 5px;
  }
}

@keyframes animatetop {
  from {
    top: 0;
  }
  to {
    top: 100px;
  }
}
